*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(images/fondo.PNG);
    background-repeat: repeat;
    background-size: cover;
}

header{
    width: 100vmax;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.title{
    padding-top: 2rem;
}

nav{
    display: flex;
    box-sizing: border-box;
    margin-top: 2rem;
    font-family: Somewhere;
    color: white;
}

h1{
    color: rgb(193, 32, 32);
    font-size: 110px;
    margin-left: 1.2rem;
    font-family: IronMaiden;
}

span{
    margin-top: 2rem;
    color: white;
    font-size: 30px;
    font-family: Somewhere;
}

nav > ul{
    display: flex;
}

nav  ul  li  ul{
    visibility: hidden;
}

nav  ul  li:hover > ul{
    visibility: visible;
}

nav > ul > li > a{
    display: flex;
    padding: 20px;
    color: white;
    font-size: 40px;
    transition: all 300ms ease;
    margin-left: 5px;
}

nav > ul > li > a:hover{
    background: maroon;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

nav  ul  li  ul  li{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

nav  ul  li  ul  li:hover{
    background: maroon;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

nav  ul  li  ul  li  a{
    color: white;
}

/*Estilos para los botones de redes*/

.youtube{
    position: fixed;
    right: -12rem;
    top: -13rem;
    scale: 0.1;
}

.instagram{
    position: fixed;
    right: -8rem;
    top: -13rem;
    scale: 0.1;
}










